@import '~antd/dist/antd.css';

body {
    background-color: #282c34;

}

.App {
    min-height: 100vh;
}

.pane {
    padding: 2em 0 1em 0;
    background: white;
    border-radius: 6px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.container {
    width: 80%;
    padding: 10vh 0;
    margin: 0 auto;

}

.section-header {

    text-align: center;
    font-weight: bold;
    margin-bottom: 3.5em;
    font-size: 1.4em;

}

.dont-break-out {
    /*https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/*/
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

.sticker {
    width: 10em;
    height: 10em;
    position: center;
    margin: 1em 1.5em 1em 1em;
    transition: .3s ease;
}

.sticker:hover {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.11), 0 1px 2px 1px rgba(0, 0, 0, 0.08);
}

.sticker:active {
    opacity: 0.8;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08), 0 1px 2px 1px rgba(0, 0, 0, 0.04);

}